# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Variables de entorno (contiene secretos)
.env

# Base de datos local
*.db
*.sqlite3

# Tests y cobertura
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

#carpeta interna del grupo
docus_personal/